# jwt settings here
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRES_IN_MINUTES=
JWT_REFRESH_EXPIRES_IN_DAYS=

# dbconfigurations here
DB_HOST=   # or your server IP
DB_PORT=        # default SQL Server port
DB_USER=             # your SQL Server username
DB_PASSWORD=
DB_NAME=

DEV_NODE_ENV=
DEV_ENABLE_SWAGGER=
DEV_SWAGGER_PATH=
DEV_SWAGGER_USER=
DEV_SWAGGER_PASS=
DEV_PORT=

PROD_NODE_ENV=
PROD_ENABLE_SWAGGER=
PROD_SWAGGER_PATH=
PROD_SWAGGER_USER=
PROD_SWAGGER_PASS=
PROD_PORT=
